$nav-color: navy;
$nav-button-color: lightgrey;
$white-opacity: rgba(255,255,255,0.5);
$warning-color: #f2dede;

.info {
	background-color: black;
}

body {
	margin-top: 100px;
	padding: 20px;
}

// FLASH CSS

.messages {
	li {
		list-style-type: none;
	}
	ul {
		margin-left: 0;
	}
	.alert {
		background-color: $warning-color;
	}
}

.errorlist {
	list-style-type: none;
	background-color: $warning-color;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.9em;
}

// LOGIN FORM CSS

form {
	width: 50%;
	input[type="text"],
	input[type="url"],
	input[type="file"] {
		margin: 0;
	}
}

div.hidden {
   display: none
}

.helptext {
	font-size: 0.7em;
	float: right;
}

.modal-body {
	position: relative;
	padding: 30px;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

// BUDGET POST CSS
.budget {
	background-color: lightgrey;
}


/*.budget {
	background-color: lightgrey;
	//margin: 0 10px 30px 0;
	border-radius: 15px;
	text-align: center;
	//padding: 0;
	.budget-info {
		background-color: darkgrey;
		//padding: 10px 0 10px 0;
	}
	.expense-info {
		//padding: 10px;
	}
	h2 {
		margin: 0;
		padding: 0;
	}
	h3 {
		text-align: left;
	}
	.exspense {
		//margin: 0 10px 10px 0;
		border-radius: 10px;
		text-align: center;
		.item {
			background-color: lightblue;
			//padding: 5px;
			margin-bottom: 0;
		}
		.location {
			background-color: lightyellow;
			//padding: 5px;
			margin-bottom: 0;
		}
		.price {
			background-color: $white-opacity;
			//padding: 5px;
			margin-bottom: 0;
		}
	}
}*/