$nav-color: navy;
$nav-button-color: lightgrey;

body {
	margin-top: 10%;
}

.messages {
	li {
		list-style-type: none;
	}
	.alert {
		background-color: #f2dede;
	}
}

form {
	width: 50%;
}

.modal-body {
	position: relative;
	padding: 30px;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

.navbar-default {
	//background-image: none;
	//background-color: $nav-color;
	.navbar-toggle {
		//background-color: $nav-button-color;
		//border-color: $nav-button-color;
	}
	.active a {
		//background-color: rgba(255,255,255,0.5);
	}
}