body {
	margin-top: 10%;
}

.messages {
	li {
		list-style-type: none;
	}
}

.errorlist {
	li{
		background-color: darksalmon;
		list-style-type: none;
		border-radius: 10px;
		text-align: center;
	}
}

form {
	width: 50%;
}