{% extends "app_xspense/base.html" %}
{% load filters %}

{% block content %}

	<h1 class="head-title">Budgets</h1>
	{% for budget in budgets %}
		<div class="solo-page container" style="width: 90%">
			<section class="small-6 columns">
				{{ budget.category|icon|safe }}
				<div class="small-12 medium-9 columns">
					<h3 class="title">{{ budget.purpose|title }}</h3>
					<h5>in {{ budget.category|categoryString }}</h5>
					<p>Date Created: {{ budget.date_created|date:"m/d/Y" }}</p>
				</div>
			</section>

			<section class="small-6 columns">
				<div class="row">
					<p class="small-12 medium-6 columns">Budget Amount: ${{ budget.amount }}</p>
					<p class="small-12 medium-6 columns">Amount Spent: ${{ budget.expense_set.all | sumExpenses}}</p>
				</div>
				
				  {{ budget | progress | safe }}
				
			</section>
		</div>
	{% endfor %}

{% endblock %}