{% if user.is_authenticated %}
<h1>hello {{ user.username }}!</h1>
{% else %}
<h1>hello world!</h1>
{% if messages %}
<ul class="messages">
    {% for msg in messages %}      
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}

<h1>Login</h1>

        <form id="login_form" method="post" action="/login">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>