{% extends "app_xspense/base.html" %}

{% block content %}

	{% if messages %}
	<ul class="messages">
	    {% for msg in messages %}      
	    <li>
	        <div class="alert alert-{{msg.level_tag}}" role="alert">
	    {{msg.message}}
	    </div>
	    </li>
	    {% endfor %}
	</ul>
	{% endif %}

	{% if user.is_authenticated %}

	{% for budget in budgets %}
		<h2>{{ budget.purpose }}</h2>
		<p>amount: {{ budget.amount }}</p>
		<h3>Expenses</h3>
		{% for expense in budget.expense_set.all %}
			<p>item: {{ expense.item }}</p>
			<p>price: ${{ expense.price }}</p>
			---------------------------------
		{% endfor %}
		<hr>
	{% endfor %}
	{% endif %}

{% endblock %}