{% extends "app_xspense/base.html" %}

{% block content %}
    {% if registered %}
        <strong>Welcome aboard xspense!</strong>
    {% else %}
        

        <form id="user_form" method="post" action="/register"
                enctype="multipart/form-data" class="form col-md-12 center-block">
            <h1 class="text-center">Register</h1>
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <div class="form-group">
              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Register" name="submit" />
              <span class="pull-right"><a href="register">Log In</a></span><span><a href="register">Need help?</a></span>
            </div>
        </form>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('input').addClass("form-control input-lg");
        });
    </script>
{% endblock %}